.invalid{
  color: red;
  font-size: small;
}
.valid{
  color: green;
  font-size: small;
}

.area{
  background: aliceblue;
  border: bisque;
  margin: 10px;
  float: left;
  horiz-align: center;
  align-content: center;
  text-overflow: ellipsis;
  max-width: 300px;
}

.stop{
  clear: both;
}