<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="import" href="/import-headers.html">

    <title>Edit News</title>
    <script type='text/javascript' language='javascript' src='/js/validation.js'></script>
</head>
<body>
<div class="container">
    <h2>Edit News</h2>
    <p th:text="${news.id}"></p>
    <form action="#" th:action="@{/edit-news}" th:object="${news}" th:method="put">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter Title"
                   name="title">
            <div id="res-title" class="valid-invalid">

            </div>
        </div>

        <div class="form-group">
            <label for="Author">Author</label>
            <input type="text" class="form-control" id="author" th:field="*{author}" placeholder="Enter Author"
                   name="author">
            <div id="res-author">

            </div>
        </div>

        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" rows="10" id="body" name="body" placeholder="Enter Description"
                      th:text="${news.body}"></textarea>
            <div id="res-body">
            </div>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" placeholder="Enter date" th:value="${news.date}">
            <div id="res-date">

            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
