<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
    <!--<title>ABC News</title>-->
    <!--<link rel="import" href="import-headers.html">-->
<!--</head>-->
<!--<body>-->

<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
    <!--<h1>Welcome to ABC News Portal</h1>-->

<!--</div>-->

<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
    <!--<a class="navbar-brand" href="add-news">Add News</a>-->

<!--</nav>-->

<!--<div class="container" style="margin-top:30px;">-->
    <!--<div class="d-flex align-content-start flex-wrap">-->

        <!--<div class="p-2 area" th:each="eachNews: ${news}">-->
            <!--<h2 th:text="${eachNews.getTitle()}"-->
                <!--th:onclick="'window.location.href=\'/news/' + ${eachNews.getId()} + '\''"></h2>-->
            <!--<h6 th:text="'Written by: '+ ${eachNews.getAuthor()}"-->
                <!--th:onclick="'window.location.href=\'/news/' + ${eachNews.getId()} + '\''"></h6>-->
            <!--<p th:text="${eachNews.showFewCharacters()}"-->
               <!--th:onclick="'window.location.href=\'/news/' + ${eachNews.getId()} + '\''"></p>-->
            <!--<span class="btn btn-primary btn-sm"-->
                  <!--th:onclick="'window.location.href=\'/news/' + ${eachNews.getId()} + '\''">View HTML</span>-->
            <!--<span class="btn btn-secondary btn-sm"-->
                  <!--th:onclick="'window.location.href=\'/news/download/json/' + ${eachNews.getId()} + '\''">View JSON</span>-->
            <!--<span class="btn btn-secondary btn-sm"-->
                  <!--th:onclick="'window.location.href=\'/news/download/xml/' + ${eachNews.getId()} + '\''">View XML</span>-->
            <!--<br>-->

        <!--</div>-->
        <!--<div class="stop"></div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
    <!--<p>Footer</p>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
